.empty {
	border-radius: 6px;
	text-align: center;
	padding: 10px 5px;
	color: #ff842c;
}
.empty__cart {
	width: 50%;
	padding: 10px;
	background: rgba(255, 168, 0, 0.21);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 40px auto;
}
.empty__btn {
	padding: 10px 20px;
	background-color: #ff842c;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1rem;
	font-weight: 500;
	margin-bottom: 50px;
	transition: background 0.2s ease;
	&:hover {
		background-color: #ff542c;
	}
	a {
		text-decoration: none;
		color: #fff;
	}
}
