.search__product {
	display: flex;
	justify-content: end;
	margin-top: 40px;
	margin-right: 170px;
	@media screen and (max-width: 992px) {
		margin-right: 20px;
	}
	&_input {
		border-radius: 5px;
		padding-left: 10px;
		font-size: 18px;
		display: block;
		width: 300px;
		border: none;
		border-bottom: 1px solid #757575;
		&:focus {
			outline: none;
			border-bottom: 2px solid #a32929;
		}
	}
}

.title {
	@media screen and (max-width: 992px) {
		text-align: end;
	}
	@media screen and (max-width: 567px) {
		text-align: start;
		font-size: 35px;
	}
}
.item {
	list-style: none;
	padding: 0;
	margin: 0;
	@media screen and (max-width: 567px) {
		text-align: center;
		font-size: 20px;
		margin-bottom: 50px;
	}
}
.line {
	border-bottom: 2px solid #000;
	margin-bottom: 10px;
	margin-top: 10px;
	width: 100%;
}
.list {
	cursor: pointer;
}

.selected {
	font-weight: bold;
}
#product__content {
	@media screen and (max-width: 567px) {
		gap: 40px;
		height: 500px;
		overflow: scroll;
	}
}
.product__wrap {
	width: 30%;
	@media screen and (max-width: 992px) {
		width: 50%;
	}
	@media screen and (max-width: 768px) {
		width: 100%;
	}
}
.more__Button {
	display: flex;
	width: 90%;
	justify-content: center;
	button {
		background-color: #ea6608;
		border: none;
		padding: 15px 40px;
		color: #ffff;
		border-radius: 30px;
		transition: background .2s ease-in;
		&:hover{
			background: #c55506;
		}
	}
}
